/*styles*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    min-height: 100vh;
    
}

h1, h2, h3, h4, p, li, label, input, div {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: 800;
}

h2 {
    font-size: 3em;
    font-weight: 400;
}

h3 {
    font-size: 2em;
    font-weight: 300;
}


/*Debt Welcome Styles*/

.welcome_wrapper {
    position: relative;
    height:100vh;
    background: url("img/skyline.jpg");
    background-size: cover;
    color: #252525;
}

.welcome_wrapper h1 {
    padding: 10%;
}

#circle_welcome {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.circle {
    background: rgba(183,183,183,.7);
    text-align: center;
    height: 500px;
    width: 100%;
    max-width: 500px;
    border-radius: 100%;
}

.circle h1 {
    padding: 20% 15%;
}

@media (min-width: 1000px) {
    .welcome_wrapper h1 {
        padding: 5%;
    }

    .circle {
        height: 400px;
        width: 400px;
    }

    .circle h1 {
        padding: 20% 10%;
        font-size: 3.7em;
    }
}

/*Calculator Styles*/

.calculator {
  text-align: center;
}

.calculator h2 {
  font-size: 8vw;
  color: #004258;
  font-weight: 300;
  margin: 10vh auto;
}

.calculator input {
  display: block;
  margin: 50px auto;
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
  max-width: 400px;
  width: 90%;
  height:100px;
  font-size: 8vw;
  text-align: center;
}

.calculator input:focus {
  border: solid 5px #969696;
}

.calculator input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: center;
}
.calculator input:::-moz-placeholder { /* Firefox 19+ */
  text-align: center;
}
.calculator input::-ms-input-placeholder { /* IE 10+ */
  text-align: center;
}
.calculator input::-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

@media (min-width: 1000px) {
  .calculator h2 { font-size: 4em;}
  .calculator input { font-size: 4em;}
}


/*Graph Styles*/

#control {
    position: relative;
    overflow: hidden;
    background: url("img/skyscrapers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}


/*Your Share Styles*/

.share_wrapper{
    height: 100vh;
    background:url("img/money.jpg") no-repeat ;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.share_wrapper h2 {
    padding: 20% 5% 5%;
}

.share_wrapper h1 {
    font-size: 9em;
}

.social {
    list-style: none;
    display: flex;
    align-items: center;
}

.social li {
    flex: 1 1 0;
    margin: 20px;
}

.facebook, .google-plus, .twitter{
    display: inline-block;
    background: url(img/sprites.png) no-repeat;
}

.facebook{
    background-position: -3px -5px ;
    width: 62px;
    height: 62px;
}

.google-plus{
    background-position: -71px -1px ;
    width: 63px;
    height: 62px;
}

.twitter{
    background-position: 0 -73px ;
    width: 63px;
    height: 63px;
}

@media (min-width: 1000px) {
    .share_wrapper h2 {
        padding: 5% 5%;
    }
}


/*Pay off Day Styles*/
.debt_day {
    display: none;
    text-align: center;
    background: url("img/flag.jpg") 20% 50%;
}

.debt_day h1 {
    color: #fd7400;
    padding: 10% 5% 5%;
}

.debt_day h2 {
    color: #ffffff;
    padding: 10%;
}

.buttons {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #ffffff;
    background: #004358;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 300px;
    height: 150px;
    font-size: 4em;
    margin: 5%;
    border-color: #004358;

}

.buttons:hover {
    background: #026988;
    background-image: -webkit-linear-gradient(top, #026988, #004358);
    background-image: -moz-linear-gradient(top, #026988, #004358);
    background-image: -ms-linear-gradient(top, #026988, #004358);
    background-image: -o-linear-gradient(top, #026988, #004358);
    background-image: linear-gradient(to bottom, #026988, #004358);
    text-decoration: none;
    cursor: pointer;
}

/*Footer Styles*/

footer {
    background: #004258;
    width: 100%;
    height: 100%;
}

footer a {
    color: #ffffff;
    cursor: pointer;
}

footer ul {
    list-style: none;
}

.footer_wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;

}

.tagline {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 40px 0 0;
    width: 100%;
}

.tagline .line_divide {
    height: 2px;
    width: 70%;
}

.tagline h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.sources-contact {
    margin:2% 0 0 15%;
}

.sources {
    margin-bottom: 20%;
}

.horizontal_line {
    width: 2px;
    height: 150px;
    margin: 2%;
}

.information_sources {
    width: 50%;
    margin-top: 1%;

}

.information_sources a {
    display: inline-block;
    padding: 2%;
}


